.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs) 0;
  height: 80px;
  position: sticky;
  top: 0;
  background-color: var(--neutral-0);

  .box {
    display: flex;
    align-items: center;
    gap: calc(4 * var(--spacing-xl));

    @media (width < 768px) {
      gap: var(--spacing-xl);
    }
  }
}